:root{
	--white--color:#fff;
	--black--color:#000;
	--text--color:#333;
	--primary--color:#ee4d2d;
	--border--color:#dbdbdb;
	--star-gold-color:#ffce3e;

	--navbar-height:34px;
	--header-height:120px;
	--header-width-search-height:calc(var(--header-height) - var(--navbar-height));
	
}
*{
	box-sizing: inherit;
}
html{
	font-size: 62.5%;
	line-height: 1.6rem; /* 1.6rem = 16px*/
	box-sizing: border-box;
}
 /* Responsive */
.grid{
	width: 1920px;
	max-width: 100%;
	margin: 0 auto;
}
.grid__full-width{
	width: 100%;
}
.grid__row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -100px;
	
}
/* Test */
.grid__column-2{
	padding-left: 12px;
	padding-right: 12px;
	width: 16.6667%;
}
.grid__column-2-4{
	padding-left: 10px;
	width: 20%;
}
.grid__column-2-5{
	width: 19.3%;
	padding-left: 40px;
	padding-right: 40px;
}
.grid__column-10{
	width: 66.6667%;

}

/* Button style*/
.btn{
	min-width: 124px;
	height: 34px;
	text-decoration: none;
	border:none;
	border-radius: 2px;
	font-size: 1.5rem;
	padding: 0 8px ;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center; /* căn giữa từ trên xuống*/
	background-color: var(--white--color);

}
.btn .btn--normal:hover{
	background-color: rgba(0,0,0,0.05);
}
.btn.btn--primary{
	background-color: #ee4d2d;
	color: white;

}
/* Selection  list*/

.select-input{
	height: 34px;
	padding: 0 12px;
	border-radius: 4px;
	min-width: 200px;
	background-color: var(--white--color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 12px 12px;
	position: relative;
	z-index: 1;
}
.select-input__label{
	font-size: 1.4rem;
}
.select-input__list{
	position: absolute;
	left: 0;
	right: 0;
	top: 25px;
	border-radius: 4px;
	background-color: var(--white--color);
	padding: 8px 16px;
	list-style: none;
	display: none;
}
.select-input:hover .select-input__list{
	display: block;
}
.select-input__link{
	font-size: 1.4rem;
	text-decoration: none;
	display: block;
	padding: 8px 4px;
}
.select-input__link:hover{
	color: var(--primary--color);
}

/* Modal*/

.modal{     /* kích thước của nó sẽ chiếm toàn màn hình */
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;

}
.modal__overlay{    /* tạo lớp phủ toàn màn hình*/
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);

}
.modal__body{
	background-color: var(--white--color);
	margin: auto;
	border-radius: 5px;
	position: relative;
}

/*Pagination*/
.pagination{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;

}
.pagination-item{
	margin: 0 12px;

}
.pagination-item--active .pagination-item__link{
	background-color: var(--primary--color);
	color: var(--white--color);
}
.pagination-item__link{
	display: block; /* Thẻ a chưa có thuộc tính display:block nên phải cho thuộc tính này vào mới đặt được chiều ngang*/
	text-decoration: none;
	font-size:  2rem;
	color: #939393;
	min-width: 40px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 2px;
	font-weight: 300;

}
.pagination-item-active .pagination-item__link:hover{
	background-color: #ed5c3f;

}
